{% extends 'base/base.html'%}

{% block title %}  |  About-Us{% endblock %}

{% load static %}

{% block content %}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/breadcumb1.jpg' %})">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center text-capitalize">
                    <h2>About Us</h2>  
                   
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->


  <!-- ##### About Area Start ##### -->
  <section class="about-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Who we are and what we do?</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h6 class="sub-heading pb-5">Welcome to Abz Recipe, your go-to place for easy and enjoyable cooking! Excited to share the joy of simple, creative recipes with you. At Abz Recipe, every dish is a unique creation made for experimenting with flavors. Whether you're trying out new recipes or getting creative with what's in your kitchen, this is your space for culinary fun.
                </h6>

                <p class="text-center">It's not just about sharing recipes here; it's about enjoying the process together. Favorite the dishes you love, share your feedback or twists to a recipe. Abz Recipe is a friendly space where the love for food is celebrated. So, dive into Abz Recipe, discover tasty flavors, and make this your virtual kitchen. Let the cooking adventure begin!
                </p>
                <span class="text-center w-100 d-block">Happy cooking!</span>
            </div>
        </div>

        <div class="row align-items-center mt-70">
            <!-- Single Cool Fact -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact">
                    <img src="img/core-img/salad.png" alt="">
                    <h3><span class="counter">{{ all_recipe_count }}</span></h3>
                    <h6>All Recipes</h6>
                </div>
            </div>

            <!-- Single Cool Fact -->
            {% if all_categories%}
                {% for category in all_categories%}
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-cool-fact">
                            <img src="img/core-img/hamburger.png" alt="">
                            <h3><span class="counter">{{  category.count_recipes_by_category }}</span></h3>
                            <h6>{{category.title}}</h6>
                        </div>
                    </div>
                {%endfor%}
            {% {% endif %}%}       
        </div>

    </div>
</section>
<!-- ##### About Area End ##### -->

<!-- ##### Contact Area Start ##### -->
<div class="row mb-5 mt-0">
    <div class="col-12 text-center">
        <a href="{% url 'contact' %}" class="btn delicious-btn mt-30">Contact Us</a>
    </div>
</div>

<!-- ##### Contact Area End ##### -->

<div class="mt-5">
    {% include 'social/social.html' %}
</div>


{% endblock %}