{% extends 'base/base.html'%}

{% block title %}  |  {{user.username}}{% endblock %}

{% load static %}

{% block content %}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/breadcumb1.jpg' %})">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center text-capitalize">
                    
                    {% if user.first_name and  user.last_name %}
                        <h2>Profile | {{user.first_name}} {{user.last_name}}</h2>
                    
                    {% else %}
                        <h2>Profile | {{user.username}}</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->


<div class="row justify-content-center" style="margin-top:100px; margin-bottom: 65px;">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-2">
        <form role="form" method="post" action="{% url 'profile' %}">
            {% csrf_token %}
            <fieldset class="row">
                <label class="col-sm-3 col-12">First Name</label>
                <div class="form-group text-danger col-sm-9 col-12">
                    {{ form.first_name }}
                </div>
                <label class="col-sm-3 col-12">Last Name</label>
                <div class="form-group text-danger col-sm-9 col-12">
                    {{ form.last_name }}
                </div>
                <label class="col-sm-3 col-12">Username</label>
                <div class="form-group text-danger col-sm-9 col-12">
                    {{ form.username }}
                </div>
                <label class="col-sm-3 col-12">Email</label>
                <div class="form-group text-danger col-sm-9 col-12">
                    {{ form.email }}
                </div>
                <label class="col-sm-3 col-12">Phone</label>
                <div class="form-group text-danger col-sm-9 col-12">
                    {{ form.phone }}
                </div>
                <label class="col-sm-3 col-12">Address</label>
                <div class="form-group text-danger col-sm-9 col-12">
                    {{ form.address }}
                </div>
                <label class="col-sm-3 col-12">Country</label>
                <div class="form-group text-danger col-sm-9 col-12">
                    {{ form.country }}
                </div>

                <hr class="colorgraph">
                <div class="col-12  mt-4">
                    <input type="submit" class="btn btn-lg app-btn-bg btn-sm btn-block" value="Save Profile">

                </div>
            </fieldset>
        </form>
    </div>
</div>


{% endblock %}