
<style>
    .messages{
        width: 250px;
        border-radius: 20%;
        position: absolute;
        top: 100px;
        right: 40px;
        animation: hideMesage .8s ease-in-out;
      }
      
      .messages .success{
        width: 100%;
        padding: 15px;
        background-color: rgba(0, 128, 47, 0.271);
        color:rgb(0, 128, 21);
      }
      .messages .error{
        width: 100%;
        padding: 15px;
        background-color: rgba(128, 0, 0, 0.271);
        color:rgb(128, 0, 0);
      }
      .messages .info{
        width: 100%;
        padding: 15px;
        background-color: rgba(232, 114, 17, 0.271);
        color:rgb(232, 114, 17);
      }

    @keyframes hideMesage {
    0%{
        opacity: 1;
    }
    0%{
        opacity: 0;
    }
    }
</style>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

