
<style>
    .messages{
        width: 250px;
        border-radius: 20%;
        position: absolute;
        top: 100px;
        right: 40px;
        z-index: 200;
      }
      
      .messages .success{
        width: 100%;
        padding: 15px;
        background-color: rgba(0, 128, 47, 0.271);
        color:rgb(0, 128, 21);
      }
      .messages .error{
        width: 100%;
        padding: 15px;
        background-color: rgba(128, 0, 0, 0.271);
        color:rgb(128, 0, 0);
      }
      .messages .info{
        width: 100%;
        padding: 15px;
        background-color: rgba(232, 114, 17, 0.271);
        color:rgb(232, 114, 17);
      }

      @media  and (max-with: 1343px) {
        .messages{
        top: 250px;
      }
      }
</style>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<!-- Hide message after 5 secs -->
<script>
  setTimeout(function() {
    var message = document.querySelector('.messages');
    if (message) {
      message.style.display = 'none';
    }
  }, 5000);
</script>

