{% extends 'base/base.html'%}

{% block title %}  |  My Comments{% endblock %}

{% load static %}

{% block content %}
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/breadcumb1.jpg' %})">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center text-capitalize">
                        <h2>{{ user.username }}  |  My Comments</h2>  
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->
    <div class="section-padding-80">
        <div class="container">
            <table class="table table-mobile">
                <thead class="d-none d-md-block">
                    <tr>
                        <th class="col-12 col-md-4">Recipe</th>
                        <th class="col-12 col-md-4">Comment</th>
                        <th class="col-12 col-md-4">Action</th>
                    </tr>
                </thead>
            
                <tbody>
                    {% if comments %}
                        {%for comment in comments%}
                            <tr class="row">
                                <td class="col-12 col-md-4">
                                    <div>
                                        <a href="#" class="mr-1">
                                            <img src="{{ comment.recipe.image.url }}" alt="recipe image" width="60">
                                        </a>
                                        <span class="ml-1 text-nowrap">
                                            <a href="#">{{comment.recipe.title}}</a>
                                        </span>
                                    </div>
                                </td>
                               
                                <td class="col-12 col-md-4">
                                    <p>{{comment.message}}</p>
                                </td>
                                <td class="col-12 col-md-4 d-flex align-items-center">
                                    <button class="btn btn-sm btn-outline-success mb-1 mr-1" data-toggle="modal" data-target="#updateCommentModal+{{comment.id}}">Edit</button>

                                    <a href="{% url 'delete_comment' recipe_id=comment.recipe.id  comment_id=comment.id%}" class="btn btn-sm btn-outline-danger mb-1" title="Delete Comment">Delete</a>
                                </td>
                            </tr>
                            {% include 'includes/update_comment.html' with comment=comment%}
                        {% endfor %}
                        {% else %}
                            <tr><td>No comment yet.</td></tr>
                        {% endif %}
                        
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}