{% extends 'base/base.html'%}

{% block title %}  |  My Comments{% endblock %}

{% load static %}

{% block content %}
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/breadcumb1.jpg' %})">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center text-capitalize">
                        <h2>{{ user.first_name }}  |  My Comments</h2>  
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->
    <div class="section-padding-80">
        <div class="container">
            <table class="table table-mobile">
                <thead>
                    <tr>
                        <th>Recipe</th>
                        <th>Comment</th>
                        <th></th>
                    </tr>
                </thead>
            
                <tbody>
                    {% if comments %}
                        {%for comment in comments%}
                            <tr>
                                <td>
                                    <div class="d-flex justify-content-between">
                                        <figure class="product-media">
                                            <a href="#">
                                                <img src="{{ comment.recipe.image.url }}" alt="Product image" width="90">
                                            </a>
                                        </figure>

                                        <h3>
                                            <a href="#">{{comment.recipe.title}}</a>
                                        </h3>
                                    </div>
                                </td>
                               
                                <td class="comment-col">
                                    <h5>{{comment.message}}</h5>
                                </td>
                                <td class="remove-col">
                                    <button class="btn btn-outline" data-toggle="modal" data-target="#updateCommentModal{{comment.id}}">Edit Info</button>
                                    <a href="{% url 'delete_comment' recipe_id=comment.recipe.id  comment_id=comment.id%}" class="btn-remove" title="Delete Review">Delete</a>
                                </td>
                            </tr>
                            
                        {% endfor %}
                        {% else %}
                            {% comment %} {% include 'includes/update_comment.html' with comment=comment %} {% endcomment %}
                        <tr><td>No comment yet.</td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}