{% extends 'base/base.html'%}

{% block title %}  |  Contact{% endblock %}

{% load static %}

{% block content %}

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/breadcumb4.jpg' %})">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center text-capitalize">
                    <h2>Contact</h2>  
                   
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Contact Information Area Start ##### -->
    <div class="contact-information-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="logo mb-80">
                        <img src="img/core-img/logo.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row justify-content-between">
                <!-- Contact Text -->
                <div class="col-12 col-lg-5">
                    <div class="contact-text">
                        <p>Thank you for reaching out to us! Your interest is important to us, and we're excited to connect with you. Whether you have questions, feedback, or just want to say hello, we're here to help.</p>
                        <p>Please fill out the form below with your details, and we'll get back to you as soon as possible.</p>
                    </div>
                </div>

                <div class="col-12 col-lg-5">
                    <!-- Single Contact Information -->
                    <div class="single-contact-information mb-30">
                        <h6>Address:</h6>
                        <p>55 Dorset Street, Dublin, D01 CY95</p>
                    </div>
                    <!-- Single Contact Information -->
                    <div class="single-contact-information mb-30">
                        <h6>Phone:</h6>
                        <p>+353 345 795 3245, +353 345 755 8221</p>
                    </div>
                    <!-- Single Contact Information -->
                    <div class="single-contact-information mb-30">
                        <h6>Email:</h6>
                        <p>abzrecipe@gmail.com</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- ##### Contact Information Area End ##### -->

    <!-- ##### Contact Form Area Start ##### -->
    <div class="contact-area section-padding-0-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Get In Touch</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="contact-form-area">
                        <form action="{% url 'contact' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    {{ contact_form.name }}
                                </div>
                                <div class="col-12 col-lg-6">
                                    {{ contact_form.email }}
                                </div>
                                <div class="col-12">
                                    {{ contact_form.subject }}
                                </div>
                                <div class="col-12">
                                    {{ contact_form.message }}
                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn delicious-btn mt-30" type="submit">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Contact Form Area End ##### -->

    <!-- ##### Google Maps ##### -->
    <div class="map-area">
        <div id="googleMap"></div>
    </div>

    <!-- ##### Follow Us Instagram Area Start ##### -->
    {% include 'social/social.html' %}
    <!-- ##### Follow Us Instagram Area End ##### -->




{% endblock %}