<div class="modal fade"  id="updateCommentModal">
    <div class="modal-dialog" >
      <div class="modal-content w-100 px-5 py-4">
        <div class="modal-header">
          <h5 class="modal-title">username - Edit Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="" class="update_comment_form">
              {%csrf_token%}
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name"  value="{% if comment.name|length > 0%} {{comment.name}}  {% endif %}" placeholder="Name here..">
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" name="email" value="{% if comment.email|length > 0%} {{comment.email}}  {% endif %}" placeholder="Email here..">
                </div>

                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="title" name="title" value="{% if comment.title|length > 0%} {{comment.title}}  {% endif %}" placeholder="Comment title here..">
                </div>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <textarea type="message" class="form-control" id="message" name="message" value="{% if comment.message|length > 0%} {{comment.message}}  {% endif %}" placeholder="email here..">
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary btn-sm update_comment_btn">Save changes</button>
        </div>
      </div>
    </div>
  </div>