<div class="modal fade"  id="updateCommentModal">
    <div class="modal-dialog" >
      <div class="modal-content w-100 px-5 py-4">
        <div class="modal-header">
          <h5 class="modal-title">username - Edit Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="" class="update_comment_form">
              {%csrf_token%}
              {% if comment%}
                <div class="form-group">
                  <label for="name+{{comment.id}}">Name</label>
                  <input type="text" class="form-control" id="name+{{comment.id}}" name="name"  value="{{comment.name}}" placeholder="Name here.. " />
                </div>

                <div class="form-group">
                  <label for="email+{{comment.id}}">Email</label>
                  {% comment %} <input type="email" class="form-control" id="email+{{comment.id}}" name="email" value="" placeholder="Email here.."> {% endcomment %}
                </div>

                <div class="form-group">
                  <label for="message+{{comment.id}}">Message</label>
                  {% comment %} <textarea class="form-control" id="message+{{comment.id}}" name="message" value="" placeholder="Message here.."> {% endcomment %}
                </div>
             {% endif %}
            </form> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary btn-sm update_comment_btn">Save changes</button>
        </div>
      </div>
    </div>
  </div>